section {
    height: 100svh;
    width: 100%;
    background: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.headline-container {
    color: rgba(217, 217, 217, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

h2 {
    font-size: 40px;
}

h1 {
    font-size: 128px;
}