<section class="hero-section">
  <div class="headline-container">
    <h2 class="fira-code">Frontend Entwickler</h2>
    <h1 class="karla">Sebastian Böhme</h1>
  </div>
  <div class="button-container">
    <div class="hero-button">
      <p class="animated-text" data-text="meine Projekte">meine Projekte</p>
    </div>
    <div class="hero-button">
      <p class="animated-text" data-text="Kontaktieren Sie mich">Kontaktieren Sie mich</p>
    </div>
  </div>

  <div class="banner">
    <div class="marquee">
      <div class="marquee__inner" aria-hidden="true">
        <p class="karla">Frontend Entwickler</p>
        <img class="spaceholder" src="../../assets/img/banner-space.svg" alt="">
        <p class="karla">Wohnhaft in Alzey</p>
        <img class="spaceholder" src="../../assets/img/banner-space.svg" alt="">
        <p class="karla">Offen für Arbeit</p>
        <img class="spaceholder" src="../../assets/img/banner-space.svg" alt="">
        <p class="karla">Offen für Remote und Homeoffice</p>
        <img class="spaceholder" src="../../assets/img/banner-space.svg" alt="">
        <p class="karla">Frontend Entwickler</p>
        <img class="spaceholder" src="../../assets/img/banner-space.svg" alt="">
        <p class="karla">Wohnhaft in Alzey</p>
        <img class="spaceholder" src="../../assets/img/banner-space.svg" alt="">
        <p class="karla">Offen für Arbeit</p>
        <img class="spaceholder" src="../../assets/img/banner-space.svg" alt="">
        <p class="karla">Offen für Remote und Homeoffice</p>
        <img class="spaceholder" src="../../assets/img/banner-space.svg" alt="">
        <p class="karla">Frontend Entwickler</p>
        <img class="spaceholder" src="../../assets/img/banner-space.svg" alt="">
        <p class="karla">Wohnhaft in Alzey</p>
        <img class="spaceholder" src="../../assets/img/banner-space.svg" alt="">
        <p class="karla">Offen für Arbeit</p>
        <img class="spaceholder" src="../../assets/img/banner-space.svg" alt="">
        <p class="karla">Offen für Remote und Homeoffice</p>
        
      </div>
    </div>
  </div>
  
  
</section>
