<section class="projects">
  <div class="projects-content">
    <div class="projects-headline-container">
      <h2 class="karla">Portfolio</h2>
      <h1 class="fira-code">Meine Projekte</h1>
      <div class="description-container">
        <p class="karla">
          Sehen Sie sich eine Auswahl meiner Arbeit an - interagieren Sie <br />
          mit Projekten um meine Fähigkeiten in Aktion zu sehen.
        </p>
      </div>
    </div>

    <div class="projects-container">
      <div class="projects-left">
        @for (project of projects; track $index) {
        <div
          class="single-project"
          (mouseenter)="hoveredProject = project; hoveredIndex = $index"
          (mouseleave)="hoveredProject = null"
        >
          @if ($first) {
          <div class="spacer"></div>
          }

          <div class="single-project-content">
            <b class="fira-code">{{ project.name }}</b>

            <div class="project-skills">
              @for (tool of project.tools; track tool.name) {
              <p class="karla">{{ tool.name }}</p>
              @if (! $last) {
              <div class="skill-spacer"></div>
              } }
            </div>
          </div>

          <div class="spacer"></div>
        </div>
        }
      </div>

      <div class="projects-right">
        @if (hoveredProject) { @switch (hoveredIndex) { @case (0) {
        <div class="project-image-tooltip align-start">
          <img class="project-img" [src]="hoveredProject.image" [alt]="hoveredProject.name" /> <img src="../../assets/img/projects-icons/project-img-shadow.svg" alt="" class="img-shadow">
        </div>
        } @case (projects.length - 1) {
        <div class="project-image-tooltip align-end">
          <img class="project-img" [src]="hoveredProject.image" [alt]="hoveredProject.name" /> <img src="../../assets/img/projects-icons/project-img-shadow.svg" alt="" class="img-shadow">
        </div>
        } @default {
        <div class="project-image-tooltip align-center">
          <img class="project-img" [src]="hoveredProject.image" [alt]="hoveredProject.name" /> <img src="../../assets/img/projects-icons/project-img-shadow.svg" alt="" class="img-shadow">
        </div>
        } } }
      </div>
    </div>
  </div>
</section>
